@model ForgetPasswordVM
@using TriatlonProject.ViewModel.Auth

@{
    ViewData["Title"] = "Şifreni Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <br /><br />
                    <h2 style="font-size:16px" class="card-title">Şifrəni Unuttum</h2>
                    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="Email">E-posta Adresi</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary"> E-posta Göndər</button>
                    }

                    @if (ViewBag.PasswordReminderSent != null && ViewBag.PasswordReminderSent == true)
                    {
                        <div class="alert alert-success mt-3" role="alert">
                            e-postası göndərildi. zəhmət olmasa e-postanızı  yoxlayın.
                        </div>
                    }
                    else if (ViewBag.PasswordReminderSent != null && ViewBag.PasswordReminderSent == false)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            İstifadəci Tapılmadı. doğru E-mail adresi yazin .
                        </div>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    @if (ViewBag.EmailSendError != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.EmailSendError
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
