@{
    ViewData["Title"] = "Parola Değiştirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Parola Dəyişdirmə</h2>

                    @if (ViewBag.ChangePasswordSuccess != null && ViewBag.ChangePasswordSuccess == true)
                    {
                        <div class="alert alert-success mt-3" role="alert">
                           Parolunuz Dəyişdirildi.
                        </div>
                    }

                    @if (ViewBag.ChangePasswordFailed != null && ViewBag.ChangePasswordFailed == true)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            <b>Parol Asagdaki sertlerin Hamsini odemelidi</b>
                            <ul>
                               <li>1 Boyuk herf </li>
                               <li>Simvollar(_) </li>
                               <li>Reqemler </li>
                           </ul>
                        </div>
                    }

                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="newPassword">Yeni Parola</label>
                            <input type="password" name="newPassword" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Yeni Parola (Tekrar)</label>
                            <input type="password" name="confirmPassword" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Parolayı Dəyişdir</button>
                  
                    }
                </div>
            </div>
        </div>
    </div>
</div>
